body{
    background-color: #808080;
    padding: 0;
    margin: 0;



    header{
        width: 100%;
        background-color: #000000;
        color: white;
        height: 50px;

        nav{
            height: 50px;
            font-size: 0;
            width: calc(100% - 400px);
            margin: 50px auto;


                a{
                    text-decoration: none;
                    color: #ffffff;
                    border-right: rgb(255, 255, 255, 0.7) 1px solid;
                    font-size: 16px;
                    line-height: 50px;
                    text-align: center;
                    display: inline-block;
                    width: 90px;
                    background-color: #000000;
                }
            
        }


    }



    section{
        width: calc(100% - 400px);
        margin: 50px auto;

        div{
            background-color: #ffffff;
            padding: 10px;
            margin-bottom: 15px;

        }

    }

    section>div:nth-child(2){
        padding: 0; 
    }

    section>div:nth-child(2)>div{
        display: inline-block;
        width: 46%;
    }

    section>div:nth-child(4){
        margin-bottom: 30px;
    }
}